@font-face {
  font-family: 'Bebas Neue';
  src: url(../fonts/Bebas-Neue-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeueCyr-Thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  color: #404040;
}

a {
  color: #404040;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

.main-header {
  min-height: 115px;
  background: url("../img/header-line-mobile.svg") no-repeat center 80px;
}

.main-header__wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-header__title {
  margin: 0 0 5px 0;
  padding: 20px 0 0 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  line-height: 25px;
}

.main-header__text {
  display: block;
  margin: 0 0 18px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

.main-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
  margin: 0;
  list-style: none;
}

.main-header__link {
  display: block;
  padding: 8px 9px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main-header__link:hover, .main-header__link:focus {
  color: #d45e5e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-header__link:active {
  opacity: 0.5;
}

.main-header__link--current {
  color: #fff;
  background: #d45e5e;
}

.main-header__link--current:hover, .main-header__link--current:focus {
  color: #fff;
  -webkit-transform: none;
          transform: none;
}

.main-header__link--current:active {
  opacity: 1;
}

@media (min-width: 1200px) {
  .main-header {
    min-height: 90px;
    background: none;
  }
  .main-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 982px;
    padding: 0 109px;
  }
  .main-header__title {
    margin: 0 0 15px 0;
    font-size: 37px;
    line-height: 25px;
  }
  .main-header__list {
    padding: 0;
  }
  .main-header__link {
    font-size: 17px;
    padding: 52px 13px 11px 13px;
  }
}

.head-description {
  z-index: 5;
}

.head-description__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.head-description__title {
  display: block;
  margin: 0;
  font-family: 'Cambria', serif;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

@media (min-width: 1200px) {
  .head-description__wrapper {
    min-height: 140px;
    width: 982px;
    padding: 0 109px;
  }
  .head-description__title {
    width: 490px;
    font-size: 18px;
    line-height: 26px;
  }
}

.works {
  padding: 0 0 80px 0;
  min-height: 100px;
  background-image: url(../img/line-head-works-mobile.png), url(../img/pencil-and-ruler.png);
  background-position: center top, center -40px;
  background-repeat: no-repeat;
}

.works__wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.works__title {
  margin: 0 0 15px 0;
  padding: 50px 0 0 5px;
  font-family: 'Cambria', serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 15px 0;
  width: 137.5px;
  height: 171.5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.works__item--mishka {
  background: url(../img/mishka.png) no-repeat center;
  background-size: cover;
}

.works__wrapper-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 40px;
  background: rgba(0, 0, 0, 0.2);
}

.works__link {
  display: block;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
  background: #d45e5e;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.works__link:hover, .works__link:focus {
  color: #d45e5e;
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.works__link--project {
  padding: 5px 18px 5px 18px;
  margin-left: 5px;
}

.works__link--github {
  padding: 5px 11.5px 5px 11.5px;
  margin-right: 5px;
}

@media (min-width: 1200px) {
  .works__wrapper {
    width: 982px;
    padding: 0 109px;
  }
  .works__title {
    padding: 50px 0 0 7.5px;
    font-size: 19px;
  }
  .works__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .works__item {
    margin: 7.5px;
    width: 145px;
    height: 145px;
    overflow-y: hidden;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .works__item:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .works__item:hover .works__wrapper-link {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .works__wrapper-link {
    -webkit-transform: translateY(calc(100% + 0px));
            transform: translateY(calc(100% + 0px));
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .works__link--project {
    padding: 5px 20px 5px 20px;
    margin-left: 5px;
    background: #d45e5e;
  }
  .works__link--github {
    padding: 5px 13.5px 5px 13.5px;
    margin-right: 5px;
    background: #d45e5e;
  }
}

.main-footer {
  margin: 0;
  padding: 0;
  min-height: 300px;
  background: #d45e5e;
}

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-footer__about img {
  display: block;
  width: 100px;
  height: 100px;
  margin: -55px 0 0 -5px;
  line-height: 0;
  border: 6px solid #fff;
}

.main-footer__name {
  display: block;
  width: 165px;
  height: 20px;
  margin: 15px 0 0 15px;
  font-family: 'Cambria', serif;
  color: #fff;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 13px;
}

.main-footer__location {
  display: block;
  position: relative;
  margin: -20px 65px 0 auto;
  padding: 0 0 0 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #fff;
}

.main-footer__location::before {
  position: absolute;
  content: '';
  top: -0.5px;
  left: 9px;
  width: 10px;
  height: 13px;
  background: url(../img/location.svg) no-repeat center;
}

.main-footer__text {
  margin: 12px 0 0 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  color: #fff;
  line-height: 17px;
}

.main-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 240px;
  height: 50px;
  list-style: none;
}

.main-footer__link path {
  fill: #fff;
}

.main-footer__copyright-text {
  margin: 15px 0;
  font-family: 'Cambria', serif;
  color: #fff;
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

@media (min-width: 1200px) {
  .main-footer {
    min-height: 213px;
  }
  .main-footer__wrapper {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 982px;
    padding: 0 109px;
  }
  .main-footer__about {
    width: 700px;
  }
  .main-footer__about img {
    display: block;
    width: 100px;
    height: 100px;
    margin: -55px 0 0 1.5px;
  }
  .main-footer__name {
    width: 170px;
    height: 25px;
    font-size: 20px;
  }
  .main-footer__location {
    margin: 40px auto 0 -180px;
    padding: 0 0 0 25px;
    width: 100px;
    height: 17px;
  }
  .main-footer__text {
    margin: 12px 0 0 7.5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    line-height: 17px;
  }
  .main-footer__contact {
    margin: 0 auto;
    width: 482px;
  }
  .main-footer__list {
    margin: 10px auto 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 210px;
    height: 50px;
  }
  .main-footer__item {
    margin: 5px;
  }
  .main-footer__copyright {
    margin: 0 auto;
  }
  .main-footer__copyright-text {
    margin: 10px auto;
  }
}
/*# sourceMappingURL=style.css.map */