.main-footer {
  background: $red-color;
}

.main-footer__wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-footer__about {
  img {
    display: block;
    border: 6px solid #fff;
  }
}

