.main-footer {
  background: $red-color;
}

.main-footer__wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-footer__about {
  display: flex;
  flex-wrap: wrap;
  img {
    display: block;
    width: 100px;
    height: 100px;
    margin: -55px 0 0 -5px;
    border: 6px solid #fff;
  }
}

.main-footer__name {
  display: block;
  width: 142px;
  height: 20px;
  margin: 15px 0 0 15px;
  font-family: 'Cambria', serif;
  color: #fff;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  line-height: 13px;
}

.main-footer__location {
  display: block;
  position: relative;
  margin: -20px 65px 0 auto;
  padding: 0 0 0 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  &::before {
    position: absolute;
    content: '';
    top: -0.5px;
    left: 9px;

    width: 10px;
    height: 13px;

    background: url(../img/location.svg) no-repeat center;
  }
}

.main-footer__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 17px;
}



