@font-face {
  font-family: 'Bebas Neue';
  src: url(../fonts/Bebas-Neue-Black.ttf) format("truetype");
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url(../fonts/HelveticaNeueCyr-Thin.woff) format("woff");
  font-weight: normal; 
  font-style: normal; 
}

body {
  margin: 0;
  padding: 0;

  min-width: 630px;
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}