.works {
  min-height: 100px;
}

.works__wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

.works__title {
  margin: 0 0 15px 0;
  padding: 0 0 0 5px;

  font-family: 'Cambria', serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
}

.works__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style: none;
}

.works__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  //align-items: center;
  
  margin: 0 0 15px 0;
  width: 137.5px;
  height: 171.5px;

  //background: red;
}

.works__wrapper-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;

  background: rgba(0, 0, 0, 0.3);
}

.works__link {
  display: block;

  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 3px;
}

.works__link--project {
  padding: 5px 18px 5px 18px;
  margin-left: 5px;
  background: $red-color;//#71a83a;
}

.works__link--github {
  padding: 5px 11.5px 5px 11.5px;
  margin-right: 5px;
  background: $red-color;//#59b6eb;
}